{% extends 'base.html.twig' %}

{% block title %}{{ videogame.title }}{% endblock %}

{% block body %}
    <h1>{{ videogame.title }}</h1>

    <div id="videogame-details-container">
        <div id="videogame-details-description">
            <p><b>Description :</b></p><br>
            <p>{{ videogame.description }}</p>
        </div>
        <div id="videogame-details-infos">
            <div>
                <p><b>Release date :</b></p>
                <p>{{ videogame.releasedate|date('Y-m-d') }}</p>
            </div>
            <div>
            <p><b>Edited by :</b></p>
                <p>{{ videogame.editor.societyname }}</p>
            </div>
            <div>
            <p><b>Support on :</b></p>
                <p>{{ videogame.support }}</p>
            </div>
            {% if is_granted("ROLE_ADMIN") %}
                <div id="videogame-details-admin">
                    <a href="{{ path('videogame_edit', {'id': videogame.id}) }}">Edit</a>
                    <a href="{{ path('videogame_delete', {'id': videogame.id}) }}">Delete</a>
                </div>
            {% endif %}
        </div>
    </div>
    {# <a href="{{ path('videogame') }}">List</a> #}
{% endblock %}
