{% extends 'base.html.twig' %}

{% block title %}Hello VideogameController!{% endblock %}

{% block body %}
    {% for videogame in videogames %}
        <div class="container">
            <p class="m-0">{{ videogame.title }}</p>
            <p class="m-0">{{ videogame.description }}</p>
            <p class="m-0">{{ videogame.releasedate|date('Y-m-d') }}</p>
            <p class="m-0">{{ videogame.editor.societyname }}</p>
            <p class="m-0">{{ videogame.support }}</p>

            <a href="{{ path('videogame_see', {'id': videogame.id}) }}" class="btn btn-primary">Details</a>


            {% if is_granted("ROLE_ADMIN") %}
                <a href="{{ path('videogame_edit', {'id': videogame.id}) }}">Edit</a>
                <a href="{{ path('videogame_delete', {'id': videogame.id}) }}">Delete</a>
            {% endif %}
        </div>
    <br>
    {% endfor %}
    {# <a href="{{ path('videogame') }}">List</a> #}
{% endblock %}
