{% extends 'base.html.twig' %}

{% block title %}Video Games{% endblock %}

{% block body %}
    <h1>{% block pagetitle %}Video Games list{% endblock %}</h1>
    {% if is_granted("ROLE_USER") %}
        <div id="div-button-add"><a class="btn btn-success" href="{{ path('videogame_add') }}">Add a game</a></div>
    {% endif %}
    <table id="table-index videogame">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Release date</th>
            <th>Editor</th>
        </tr>
        {% for videogame in videogames %}
        <tr>
            <td><a href="{{ path('videogame_see', {'id': videogame.id}) }}">{{ videogame.title }}</a></td>
            <td>{{ videogame.description }}</td>
            <td>{{ videogame.releasedate|date('d-m-Y')}}</td>
            <td>{{ videogame.editor.societyName }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
