{% extends 'base.html.twig' %}

{% block title %}Users{% endblock %}

{% block body %}
    <h1>{% block pagetitle %}Users list{% endblock %}</h1>
    {% if is_granted("ROLE_ADMIN") %}
        <div id="div-button-add">
            <a class="btn btn-success" href="{{ path('user_add') }}">Add an user</a>
        </div>
    {% endif %}
    <table id="table-index" {% if is_granted("ROLE_ADMIN") %} class="user admin" {% else %} class="user" {% endif %}>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Birthdate</th>
            <th>Creation date</th>
            {% if is_granted("ROLE_ADMIN") %}
                <th>Edit</th>
                <th>Delete</th>
            {% endif %}
        </tr>
        {% for user in users %}
            <tr>
                <td>{{ user.firstname }} {{ user.lastname }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.birthdate|date('Y-m-d') }}</td>
                <td>{{ user.creationdate|date('Y-m-d') }}</td>

                {% if is_granted("ROLE_ADMIN") %}
                    <td><a href="{{ path('user_edit', {'id': user.id}) }}">Edit</a></td>
                    <td><a href="{{ path('user_delete', {'id': user.id}) }}">Delete</a></td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    {# <a href="{{ path('user') }}">List</a> #}
{% endblock %}
